@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Poppins:wght@300;500;600;700&display=swap");

$--color-1: #000000;
$--color-2: #007bb6;
$--color-3: #6674cc;
$--color-4: #808080;
$--color-5: #e1e1e1;
$--color-6: #e91e63;
$--color-7: #f44336;
$--color-8: #f5f5f5;
$--color-9: #f8f8fd;
$--color-10: #ffa511;
$-color-11: #ffffff;
$--color-12: #1a2930;
$--color-14: #251d7f;
$--color-15: #262626;
$--color-16: #3c5a98;
$--color-17: #46c8f5;
$--color-18: #505ba0;
$--color-19: #000000, opacity 0%;
$--color-20: #e74c3c, opacity 10%;
$--merriweather: "Merriweather", serif;
$--poppins: "Poppins", sans-serif;

.community {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(3, 0, 206, 0.918),
      rgba(47, 0, 255, 0.329)
    ),
    url("/src/assets/back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
  padding: 30px;
  font-family: $--poppins;

  .community_container {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    font-family: $--poppins;
    color: $--color-8;
    opacity: 0.8;

    i {
      margin-right: 10px;
    }

    h3 {
      font-family: $--merriweather;
      line-height: 2;
      color: $--color-8;
    }
  }

  h1 {
    text-align: center;
    line-height: 4;
    color: $--color-8;
    text-transform: uppercase;
    opacity: 0.8;
    font-family: $--merriweather;
  }
}
